@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  height: 100%;
}

.Button {
  transition: all 0.2s ease 0s;
  @apply inline-flex px-3 py-2 rounded-md active:shadow-none font-[450] bg-yellow-400 shadow border border-white;
}

.Button:active {
  box-shadow: none;
  color: rgba(24, 39, 57, 0.74);
}

.Button:hover:not(:active) {
  color: rgb(58, 66, 74);
}

.Button:focus:not(:active) {
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px, rgb(0, 0, 0) 0px 0px 0px 3px;
  outline: none;
  position: relative;
  z-index: 1;
}


h1 {
  color: white;
  line-height: 50px;
  font-size: 42px;
  font-weight: 700;
  position: relative;
  right: 3px;
  padding-top: 20px;
  letter-spacing: -0.03em;
}

h2 {
  color: white;
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  position: relative;
  right: 1px;
  padding-top: 10px;

  letter-spacing: -0.03em;
}

html {
  line-height: 25px;
}